<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <div class="profile-picture">
    <ion-avatar *ngIf="user.photoURL && !profilePicture">
      <img [src]="user.photoURL"/>
    </ion-avatar>
    <ion-avatar  *ngIf="!user.photoURL && !profilePicture">
      <img src="assets/default-avatar.png"/>
    </ion-avatar>
    <ion-avatar  *ngIf="profilePicture" >
      <img [src]="profilePicture"/>
    </ion-avatar>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="presentActionSheet()" >
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <ion-list>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label position="floating">
          <h4>Nombre</h4>
      </ion-label>
      <ion-input #nameInput type="text" placeholder="Escribe tu Nombre" [(ngModel)]="user.displayName" (ionBlur)="updateUser('displayName',$event)" (keyup.enter)="changeName()" value="David Duran"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="create" slot="start"></ion-icon>
      <ion-label position="floating">
          <h4>Info</h4>
      </ion-label>
      <ion-input #nameInput type="text" placeholder="Escribe tu estado" [(ngModel)]="user.displayStatus" (ionBlur)="updateUser('estado',$event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="call"></ion-icon>
      </ion-avatar>
      <ion-label>
          <h2>Telefono</h2>
          <p>554849223</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="closeSession()">
      <ion-icon name="exit" slot="start"></ion-icon>
      <ion-label>
          <p>Cerrar sesión</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
