<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="profile-picture">
    <img src="assets/default-avatar.png" *ngIf="!profilePicture">
    <img [src]="profilePicture" *ngIf="profilePicture">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="person"></ion-icon>
      </ion-avatar>
      <ion-label>
          <h2>Nombre</h2>
          <p>DAvid Duran</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="information-circle"></ion-icon>
      </ion-avatar>
      <ion-label>
          <h2>Info</h2>
          <p>Disponible</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="call"></ion-icon>
      </ion-avatar>
      <ion-label>
          <h2>Telefono</h2>
          <p>554849223</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
