<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/150">
        </ion-avatar>
        <ion-label>
          <h2>David Duran</h2>
              <p>13:48</p>
        </ion-label>
     </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="happy"></ion-icon>
      <ion-item>
        <ion-input type="text" placeholder="Escribe un mensaje"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="time"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="camera"></ion-icon>
      </ion-item>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chatboxes"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-footer>
